<!--
    Etiqueta <aside>: Contenedor para el contenido secundario o complementario de la página.
    Este elemento generalmente se utiliza para incluir contenido adicional que no es el principal, como menús laterales o artículos populares.
-->
<aside>
  <!--
      Componente <shared-side-menu>:
      Este componente representa un menú lateral que puede contener enlaces de navegación, opciones o cualquier otra funcionalidad relacionada.
      El nombre "shared" sugiere que este componente es reutilizable en diferentes partes de la aplicación.
  -->
  <shared-side-menu />

  <!--
      Componente <shared-popular-articles>:
      Este componente muestra una lista de artículos populares, lo que permite a los usuarios acceder fácilmente a contenido destacado o relevante.
      Al igual que el menú lateral, es un componente reutilizable en diferentes secciones de la aplicación.
  -->
  <shared-popular-articles />
</aside>
