<!--
    Etiqueta <div>: Crea un contenedor para alinear el contenido de la sección de contacto.
    class="flex items-center justify-center p-12": Aplica clases de Tailwind CSS para crear un contenedor flexible, centrar su contenido, y aplicar un padding de 12.
-->
<div class="flex items-center justify-center p-12">
  <!--
      Etiqueta <div>: Contenedor interno para limitar el ancho del formulario.
      class="mx-auto w-full max-w-[550px]": Aplica márgenes automáticos a los lados, ocupa todo el ancho disponible, y establece un ancho máximo de 550 píxeles.
  -->
  <div class="mx-auto w-full max-w-[550px]">
    <!--
        Etiqueta <h3>: Define un encabezado de nivel 3 para el título de la sección.
        class="text-center text-4xl font-bold": Aplica clases de Tailwind CSS para centrar el texto, establecer un tamaño de fuente grande (4xl) y un peso de fuente negrita.
    -->
    <h3 class="text-center text-4xl font-bold">Contact</h3>

    <!--
        Etiqueta <div>: Contenedor para el texto descriptivo.
        class="text-xl text-gray-500 mb-4": Aplica un tamaño de texto grande (xl), un color gris claro, y un margen inferior de 4.
    -->
    <div class="text-xl text-gray-500 mb-4">
      <!--
          Etiqueta <p>: Define un párrafo para el texto de introducción.
          class="my-2": Aplica márgenes verticales de 2.
      -->
      <p class="my-2">At World up to date we care about your point of view.</p>
      <p class="my-2">Your opinions, comments and suggestions are welcome.</p>
      <p class="my-2">
        From them, we will be able to offer you a better service.
      </p>
      <p class="my-1">
        Please use the form to send us a message. We will try to respond as soon
        as possible.
      </p>
    </div>
    <!--
        Etiqueta <form>: Define un formulario para la recolección de datos.
        [formGroup]="contactForm": Vincula el formulario a un grupo de formularios de Angular.
        (ngSubmit)="onSubmit()": Establece una función a llamar al enviar el formulario.
    -->
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <!--
          Etiqueta <div>: Contenedor para el primer campo del formulario.
          class="mb-5": Aplica un margen inferior de 5.
      -->
      <div class="mb-5">
        <!--
            Etiqueta <label>: Define una etiqueta para el campo del nombre.
            for="name": Asocia la etiqueta con el campo de entrada con el ID "name".
            class="mb-3 block text-base font-medium text-[#07074D]": Aplica margen inferior de 3, hace que el bloque ocupe toda la línea, establece un tamaño de texto base, un peso de fuente medio, y un color personalizado.
        -->
        <label
          for="name"
          class="mb-3 block text-base font-medium text-[#07074D]"
        >
          Full Name
        </label>
        <!--
            Etiqueta <input>: Campo de entrada para el nombre completo.
            type="text": Especifica que es un campo de texto.
            name="name": Define el nombre del campo.
            id="name": Establece el ID del campo.
            formControlName="name": Vincula el campo al control de formulario correspondiente.
            placeholder="Full Name": Texto que aparece como sugerencia en el campo.
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md": Aplica varias clases de Tailwind CSS para definir el ancho completo, bordes redondeados, borde gris claro, fondo blanco, padding vertical y horizontal, tamaño y peso de fuente, y estilos para el enfoque.
        -->
        <input
          type="text"
          name="name"
          id="name"
          formControlName="name"
          placeholder="Full Name"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
        />
        <!--
            Condicional para mostrar un mensaje de error si el campo es inválido.
            class="text-red-500": Aplica un color rojo al texto del mensaje de error.
        -->
        @if (fieldInvalid('name')) {
        <span class="text-red-500">Name should min 3 characters</span>
        }
      </div>

      <!--
          Etiqueta <div>: Contenedor para el campo del correo electrónico.
          class="mb-5": Aplica un margen inferior de 5.
      -->
      <div class="mb-5">
        <label
          for="email"
          class="mb-3 block text-base font-medium text-[#07074D]"
        >
          Email Address
        </label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="example@domain.com"
          formControlName="email"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
        />
        @if (fieldInvalid('email')) {
        <span class="text-red-500">Email Invalid</span>
        }
      </div>

      <!--
          Etiqueta <div>: Contenedor para el campo del asunto.
          class="mb-5": Aplica un margen inferior de 5.
      -->
      <div class="mb-5">
        <label
          for="subject"
          class="mb-3 block text-base font-medium text-[#07074D]"
        >
          Subject
        </label>
        <input
          type="text"
          name="subject"
          id="subject"
          placeholder="Enter your subject"
          formControlName="subject"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
        />
        @if (fieldInvalid('subject')) {
        <span class="text-red-500">Subject should min 3 characters</span>
        }
      </div>

      <!--
          Etiqueta <div>: Contenedor para el campo del mensaje.
          class="mb-5": Aplica un margen inferior de 5.
      -->
      <div class="mb-5">
        <label
          for="message"
          class="mb-3 block text-base font-medium text-[#07074D]"
        >
          Message
        </label>
        <textarea
          rows="4"
          name="message"
          id="message"
          placeholder="Type your message"
          formControlName="message"
          class="w-full resize-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
        ></textarea>
        @if (fieldInvalid('message')) {
        <span class="text-red-500">Message should min 10 characters</span>
        }
      </div>

      <!--
          Etiqueta <div>: Contenedor para el botón de envío.
      -->
      <div>
        <button
          type="submit"
          class="hover:shadow-form rounded-md bg-blue-400 py-3 px-8 text-base font-semibold text-white outline-none"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
