<!--
    Etiqueta <shared-header>:
    Este componente representa la cabecera de la aplicación, que generalmente incluye el logotipo, el título y posiblemente enlaces de navegación o botones de acción.
    El uso de "shared" indica que este componente es reutilizable en diferentes partes de la aplicación.
-->
<shared-header/>

<!--
    Etiqueta <shared-navbar>:
    Este componente representa la barra de navegación de la aplicación, proporcionando enlaces a diferentes secciones o páginas del sitio.
    Facilita la navegación del usuario y también es un componente reutilizable.
-->
<shared-navbar/>

<!--
    Etiqueta <router-outlet>:
    Este es un componente de Angular que actúa como un marcador de posición para el contenido de las rutas activas.
    Permite que el contenido de las diferentes vistas se renderice en este lugar cuando el usuario navega por la aplicación.
-->
<router-outlet />

<!--
    Etiqueta <shared-footer>:
    Este componente representa el pie de página de la aplicación, donde se suelen incluir derechos de autor, enlaces de contacto y otra información relevante.
    También es un componente reutilizable que se utiliza en varias partes de la aplicación.
-->
<shared-footer/>
