<footer
  class="footer bg-blue-400 text-gray-100 py-4 px-6 flex items-center justify-between"
>
  <div class="flex items-center gap-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="h-6 w-6"
    >
      <path
        d="M4 22h16a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H8a2 2 0 0 0-2 2v16a2 2 0 0 1-2 2Zm0 0a2 2 0 0 1-2-2v-9c0-1.1.9-2 2-2h2"
      ></path>
      <path d="M18 14h-8"></path>
      <path d="M15 18h-5"></path>
      <path d="M10 6h8v4h-8V6Z"></path>
    </svg>
    <span class="text-lg font-bold">World up to date</span>
  </div>
  <p class="text-sm">© 2024 World up to date</p>
  <nav class="flex items-center gap-4">
    <a class="hover:underline underline-offset-4" href="#" rel="ugc">
      Contact Us
    </a>
    <a class="hover:underline underline-offset-4" href="#" rel="ugc">
      Privacy Policy
    </a>
    <a class="hover:underline underline-offset-4" href="#" rel="ugc">
      Terms of Use
    </a>
  </nav>
</footer>

<!-- <footer class="footer bg-blue-400 relative pt-1">
    <div class="container mx-auto px-6">

        <div class="sm:flex sm:mt-8">
            <div class="mt-8 sm:mt-0 sm:w-full sm:px-8 flex flex-col md:flex-row justify-between">
                <div class="flex flex-col">
                    <span class="font-bold text-white uppercase mb-2">Footer header 1</span>
                    <span class="my-2"><a href="#" class="text-gray-100  text-md hover:text-white">link 1</a></span>
                    <span class="my-2"><a href="#" class="text-gray-100  text-md hover:text-white">link 1</a></span>
                    <span class="my-2"><a href="#" class="text-gray-100  text-md hover:text-white">link 1</a></span>
                </div>
                <div class="flex flex-col">
                    <span class="font-bold text-white uppercase mt-4 md:mt-0 mb-2">Footer header 2</span>
                    <span class="my-2"><a href="#" class="text-gray-100 text-md hover:text-white">link 1</a></span>
                    <span class="my-2"><a href="#" class="text-gray-100  text-md hover:text-white">link 1</a></span>
                    <span class="my-2"><a href="#" class="text-gray-100 text-md hover:text-white">link 1</a></span>
                </div>
                <div class="flex flex-col">
                    <span class="font-bold text-white uppercase mt-4 md:mt-0 mb-2">Footer header 3</span>
                    <span class="my-2"><a href="#" class="text-gray-100  text-md hover:text-white">link 1</a></span>
                    <span class="my-2"><a href="#" class="text-gray-100  text-md hover:text-white">link 1</a></span>
                    <span class="my-2"><a href="#" class="text-gray-100  text-md hover:text-white">link 1</a></span>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto px-6">
        <div class="mt-16 border-t-2 border-gray-300 flex flex-col items-center">
            <div class="sm:w-2/3 text-center py-6">
                <p class="text-sm text-gray-100 font-bold mb-2">
                    © 2020 by World up to date
                </p>
            </div>
        </div>
    </div>
</footer> -->
