<h1 class="text-4xl font-bold mb-4">{{ news().title }}</h1>
<img
  class="w-full"
  [src]="news().urlToImage ?? '/assets/news.jpg'"
  [alt]="news().title"
/>
<div class="p-6">
  <p class="text-gray-700 text-sm mb-2">
    <span class="font-semibold">Autor:</span>
    {{ news().author ?? "Desconocido" }}
  </p>
  <p class="text-gray-700 text-sm mb-2">
    <span class="font-semibold">Fuente:</span> {{ news().source.name }}
  </p>
  <p class="text-gray-700 text-sm mb-2">
    <span class="font-semibold">Publicado:</span>
    {{ news().publishedAt | date : "medium" }}
  </p>
  <p class="text-gray-700 mb-4">{{ news().description }}</p>
  <p class="text-gray-700">{{ news().content }}</p>
  <a
    class="text-blue-500 hover:underline mt-4 block"
    [href]="news().url"
    target="_blank"
    rel="noopener noreferrer"
  >
    Leer más
  </a>
</div>
